{% extends '__base_new__.html' %}

{% block title %}{{ gettext('Change password') }}{% endblock %}

{% from "security/_macros_new.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="b-onboarding">
    <header>
        <div class="b-logo">NOI</div>
    </header>

    <section>
        <p class="e-onboarding-message">{{ gettext('Change password') }}</p>
        <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" class="e-onboarding-form">
            {{ change_password_form.hidden_tag() }}
            {{ render_field_with_errors(change_password_form.password) }}
            {{ render_field_with_errors(change_password_form.new_password) }}
            {{ render_field_with_errors(change_password_form.new_password_confirm) }}
	    {{ change_password_form.submit(class="b-button") }}
	</form>
    </section>
    {% include "security/_menu_new.html" %}
</div>

{% endblock %}
