@media (max-width: 960px) {
body.homepage .bg { background-image: url("../img/homepage-bg-mobile-australia.jpg"); }

.nhs.networkofinnovators.org {
    body.homepage .bg { background-image: url("../img/homepage-bg-mobile-nhs.jpg"); }
}

@media (min-width: 992px) {
body.homepage .bg { background-image: url("../img/homepage-bg-australia.jpg"); }

.nhs.networkofinnovators.org {
    body.homepage .bg { background-image: url("../img/homepage-bg-nhs.jpg"); }
}
}