.navbar-default .navbar-brand:before {
  background: url(../img/noi-logo-neg.png) no-repeat;
  background-size: contain;
  height: 30px;
  top: 12px; }

.navbar-brand {
  font-size: 16px; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 10px;
  margin-top: 4px; }

.govlab-logo-footer {
  width: 200px; }

#footer {
  background: #472b74; }
  #footer a {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic; }
  #footer .e-license p {
    color: rgba(255, 255, 255, 0.6); }
  #footer .right-part span {
    display: block;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6); }

.b-question-answers .radio-selection {
  display: none; }
.b-question-answers label {
  border: 1px solid #ddd;
  padding: 4px 10px;
  margin: 10px; }
  .b-question-answers label:hover {
    background-color: #eee; }
.b-question-answers input:checked + label {
  background-color: #472b74;
  color: #fff; }

.noi-q-even, .noi-q-odd {
  background-color: #FFF !important;
  padding: 30px 0; }

@media (max-width: 960px) {
  body.homepage .bg {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 181%; }

  body.homepage .container {
    padding-bottom: 110px; }
  body.homepage #footer .right-part {
    text-align: center; } }
.b-login {
  border: 1px solid #472b74;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 120px; }
  .b-login h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 40px; }
  .b-login input[type='text'], .b-login input[type='password'] {
    width: 70%; }
  .b-login input[type='submit'] {
    width: 100%; }
  .b-login label {
    width: 100%; }
  .b-login h2 {
    display: none; }
  .b-login ul {
    margin: 30px 0 0 0;
    text-align: center;
    padding-left: 0; }
    .b-login ul li {
      display: inline-block;
      font-size: 14px;
      margin: 0 5px; }
      .b-login ul li a {
        color: #999;
        font-weight: 300; }

@media (min-width: 992px) {
  body.homepage .bg {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 47%;
    margin-top: -50px; }

  #footer {
    text-align: left;
    background: #472b74; }
    #footer a {
      color: rgba(255, 255, 255, 0.6);
      font-style: italic; }
    #footer .e-license p {
      color: rgba(255, 255, 255, 0.6); }
    #footer .e-ccimage {
      float: left;
      margin-right: 10px; }
    #footer .right-part {
      text-align: right; }
      #footer .right-part span {
        color: rgba(255, 255, 255, 0.6); }

  .b-login input[type='text'], .b-login input[type='password'] {
    width: 70%; }
  .b-login input[type='submit'] {
    width: 39%;
    margin-left: 30%; }
  .b-login label {
    width: 29%; } }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 1000; }

.modal-content {
  top: 0;
  width: 60%;
  margin: 6% 20%;
  border-radius: 0; }
  .modal-content .action {
    text-align: center;
    margin: 20px; }

.onboarding {
  text-align: center; }
  .onboarding > div {
    padding: 40px; }
  .onboarding .top-bar {
    padding: 3px;
    background-color: #472b74; }
  .onboarding .logo {
    max-width: 200px;
    margin-left: -15px; }
  .onboarding h3 {
    margin-bottom: 60px;
    color: #472b74; }
  .onboarding .action {
    margin-top: 40px; }
  .onboarding .button {
    display: inline-block;
    color: #fff;
    padding: 16px 50px;
    background-color: #472b74;
    margin: 5px;
    transition: all 0.3s ease;
    opacity: .8; }
    .onboarding .button:hover {
      opacity: 1;
      transition: all 0.3s ease; }
    .onboarding .button.light {
      background-color: #aaa; }
  .onboarding .small-print {
    text-align: left;
    font-size: 14px;
    margin-top: 30px; }

@media (max-width: 960px) {
  body.homepage .bg {
    background-image: url("../img/homepage-bg-mobile-australia.jpg"); }

  .nhs-networkofinnovators-org body.homepage .bg {
    background-image: url("../img/homepage-bg-mobile-nhs.jpg"); } }
@media (min-width: 992px) {
  body.homepage .bg {
    background-image: url("../img/homepage-bg-australia.jpg"); }

  .nhs-networkofinnovators-org body.homepage .bg {
    background-image: url("../img/homepage-bg-nhs.jpg"); } }

/*# sourceMappingURL=styles.css.map */
