body { background-color: #fff; }

@import custom;



.navbar-default .navbar-brand:before {
    background: url(../img/noi-logo-neg.png) no-repeat;
    background-size: contain;
    height: 30px;
    top: 12px;
}

.navbar-brand {
    font-size: 16px;
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
    margin-top: 4px;
}



.govlab-logo-footer {
    width: 200px;
}

#footer {
    background: #472b74;

    a {
        color: rgba(255,255,255,0.6);
        font-style: italic;
    }

    .e-license {
        p { color: rgba(255,255,255,0.6); }
    }

    .right-part {
        span {
            display: block;
            margin-top: 20px;
            color: rgba(255,255,255,0.6);
        }
    }
}

.b-question-answers {
    .radio-selection {
        display: none;
    }

    label {
        border: 1px solid #ddd;
        padding: 4px 10px;
        margin: 10px;

        &:hover {
            background-color: #eee;
        }
    }

    input:checked + label {
        background-color: #472b74;   
        color: #fff;
    }
}

.noi-q-even, .noi-q-odd { 
    background-color: #FFF !important; 
    padding: 30px 0;
}


@media (max-width: 960px) {

body.homepage .bg {
    background-image: url("../img/homepage-bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 181%;
    margin-top: -100px;
}

body.homepage {

    .container { padding-bottom: 110px; }
    
    #footer {
        .right-part {text-align: center;}
    }
}
}

.b-login {
    border: 1px solid #472b74;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-bottom: 120px;

    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 40px;

    }

    input[type='text'], input[type='password']  { width: 70%; }
    input[type='submit'] { 
        width: 100%;
    }

    label {
        width: 100%;
    }

    h2 {
        display: none;
    }

    ul {
        margin: 30px 0 0 0;
        text-align: center;
        padding-left: 0;

        li { 
        display: inline-block;
        font-size: 14px;
        margin: 0 5px;
        a {
            color: #999;
            font-weight: 300;
        }   
    }
    }
}


@media (min-width: 992px) {

body.homepage .bg {
    background-image: url("../img/homepage-bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 47%;
    margin-top: -50px;
}

#footer {
    text-align: left;
    background: #472b74;

    a {
        color: rgba(255,255,255,0.6);
        font-style: italic;
    }

    .e-license {
        p { color: rgba(255,255,255,0.6); }


    }
    .e-ccimage {
        float: left;
        margin-right: 10px;
    }

    .right-part {
        text-align: right;
        span {
            color: rgba(255,255,255,0.6);
        }
    }
}

.b-login {
    input[type='text'], input[type='password']  { width: 70%; }
    input[type='submit'] { 
        width: 39%;
        margin-left: 30%;
    }

    label {
        width: 29%;
    }
}

}