{% extends "style-guide/base.html" %}

{% block title %}{% endblock %}

{% block header %}
<header class="b-navigation">
    <section class="e-top-bar">
        <h1 class="e-logo">Network of Innovators</h1>
        <div class="e-user-utils">
            <span class="e-post material-icons">chat</span>
            <img class="e-user-picture" src="./static/img/user-picture.jpg">
        </div>
    </section>
    <nav class="e-main-nav">
            <a href="#" class="e-nav-item">
                <span class="material-icons">home</span>
                Home
            </a>
            <a href="#" class="e-nav-item">
                <span class="material-icons">group</span>
                Match Me
            </a>
            <a href="#" class="e-nav-item">
                <span class="material-icons">search</span>
                Find Innovator
            </a>
            <a href="#" class="e-nav-item">
                <span class="material-icons">language</span>
                View Network
            </a>
            <a href="#" class="e-nav-item">
                <span class="material-icons">feedback</span>
                Share Feedback
            </a>
    </nav>
</header>

{% endblock %}

