<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page_style_pre %}{% endblock %}
    <title>{% block title %}Network of Innovators | The GovLab{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/normalize.css">
    <link rel="stylesheet" href="{{ COMPILED_SASS_ROOT }}/styles.scss.css">

</head>
<body class="{% block body_class %}{% endblock %}">
{% block header %}{% endblock %}
{% block content %}{% endblock %}

<div class="b-overlay"></div>
<div class="b-alert-message m-error m-hide"> <!-- .m-error, .m-success, .m-warning -->
    <div class="material-icons">close</div> <!-- done, error, warning -->
    <p>Invalid Email Address</p>
</div>
    <script src="https://use.typekit.net/uom0weq.js"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-1.11.3.min.js') }}"></script>
    {% assets "main_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {% block page_script %}{% endblock %}
</body>
</html>
