{% extends "style-guide/base_ui.html" %}

{% block title %}Find an Innovator{% endblock %}
{% block body_class %}b-find-innovator{% endblock %}

{% block content %}

<section class="b-filters">
    <form action="">
        <label class="b-dropdown-alt" for="">
            <select>
                <option>Open Data</option>
                <option>Community Engagement</option>
                <option>Prizes</option>
                <option>Citizen Science</option>
                <option>Data Science</option>
                <option>Crowdsourcing</option>
            </select>
        </label>
        <label class="b-dropdown-alt" for="">
            <select>
                <option>All</option>
                <option>United Kingdom</option>
                <option>Mexico</option>
                <option>Spain</option>
                <option>Australia</option>
                <option>Chile</option>
            </select>
        </label>
    </form>
</section>

<nav class="b-contextual-nav">
    <ul class="e-menu-items">
        <li class="e-item m-active">Activity</li>
        <li class="e-item">Most Connected</li>
        <li class="e-item">Most Complete Profiles</li>
        <li class="e-item">My Profile Progress</li>
    </ul>
</nav>

<section class="b-innovator-results">
    <p class="e-intro-message">Reach better decisions faster, develop solutions that create value, increase transparency and enable action.</p>
    <div class="e-results-container">
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>
        <a class="e-result-item" href="#">
            <img src="./static/img/user-picture.jpg" alt="" class="e-picture">
            <p class="e-name">Beth Simone Noveck</p>
            <p class="e-job">Director and Founder of The Govlab</p>
        </a>

    </div>
</section>

{% endblock %}
