{% extends "style-guide/base.html" %}
{% block title %}Welcome to the Network of Innovators{% endblock %}
{% block body_class %}b-landing-page{% endblock %}

{% block content %}
<section class="b-branding-section b-homepage-panel">
    <div class="e-top-links">
        <div class="b-dropdown">
            <select>
                <option value="">EN</option>
                <option value="">SP</option>
            </select>
        </div>
        <a class="e-login" href="#">Log In</a>
    </div>
    <h1 class="e-noi-logo"><img src="static/img/noi-logo-white.png" alt=""></h1>
    <h2 class="e-tagline">The skill-sharing network for government & civic innovators worldwide</h2>
    <a href="#" class="b-button">Get Started</a>
    <footer>
        <img src="static/img/govlab-logo-white.png" alt="" class="e-govlab-logo">
    </footer>
</section>
<section class="b-treemap b-homepage-panel">
   
</section>

<section class="b-homepage-panel b-categories">
    <p class="e-category-intro"><strong>Select an innovation area</strong> to answer questions about what you know and can share with others. Telling us about your innovation skills enables you to get matched to those with complementary expertise.</p>

    <div class="e-category-slider">
        <div class="e-category-wrapper">
            <div class="e-category-panel m-crowdsourcing">
                <p>Crowdsourcing</p>
            </div>
            <div class="e-category-panel m-data-science">
                <p>Data Science</p>
            </div>
            <div class="e-category-panel m-community-engagement">
                <p>Community Engagement</p>
            </div>
            <div class="e-category-panel m-lab-design">
                <p>Lab Design</p>
            </div>
            <div class="e-category-panel m-citizen-science">
                <p>Citizen Science</p>
            </div>
            <div class="e-category-panel m-open-data">
                <p>Open Data</p>
            </div>
            <div class="e-category-panel m-prizes">
                <p>Prizes</p>
            </div>
            <div class="e-category-panel m-rct">
                <p>Randomized Controlled Trials</p>
            </div>
        </div>
    </div>
</section>

<section class="b-homepage-panel b-screenshots">
    <div class="e-screenshots-wrapper">
        <p class="e-blurb m-top"><strong>Find Innovators</strong> who know what you don’t and who want to learn what you can share.</p>
        <img class="e-screenshot m-left" src="static/img/screenshot-1.png" alt="">
        <p class="e-blurb m-bottom"><strong>Visualize your knowledge</strong> of innovative problem solving practices to see what you know, compare to others, and see the skillset of a 21st century innovator</p>
    </div>
</section>

<section class="b-homepage-panel b-final-message">
    <p class="e-message"><strong>Build your own network of innovators</strong> and find the right collaborators for your project!</p>
</section>

<section class="b-homepage-panel b-partners">
    <img src="static/img/govlab-logo-white.png" alt="" class="e-govlab-logo">
    <p>in collaborations with innovation teams from governments of</p>
    <div class="e-flags">
        <div style="background-image: url(static/img/argentina-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/chile-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/canada-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/united-kingdom-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/mexico-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/south-australia-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/spain-flag.png)" alt="" class="e-flag"></div>
        <div style="background-image: url(static/img/united-states-flag.png)" alt="" class="e-flag"></div>
    </div>
    <a href="#" class="b-button">Get Started</a>
    <a href="#" class="b-button">Learn more</a>
</section>
{% endblock %}
