{% extends "style-guide/base_ui.html" %}

{% block title %}Your Connectors{% endblock %}


{% block content %}

<nav class="b-contextual-nav">
    <ul class="e-menu-items">
        <li class="e-item m-active">Your Connectors</li>
        <li class="e-item">Your Peers</li>
        <li class="e-item">Your Explainers</li>
        <li class="e-item">Your Practitioners</li>
    </ul>
</nav>

<section class="b-match-me">
    <p class="e-intro">They know others who can answer your questions. Ask them to connect you!</p>
    <div class="e-match-item">
        <header>
            <div class="e-picture">
                <img src="./static/img/user-picture.jpg" alt="">
                <span class="e-send-mail"><i class="material-icons">send</i></span>
            </div>
            <div class="e-info">
                <h3 class="e-name">Claudio Mendonca</h3>
                <h4 class="e-job">Graphic Designer</h4>
                <h5 class="e-institution">Government of South Australia</h5>
            </div>
        </header>
        <ul class="e-match-question-group">
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Crowdsourcing</div>
                    <div class="e-question-number">5 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Citizen Science</div>
                    <div class="e-question-number">3 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Open Data</div>
                    <div class="e-question-number">2 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="e-match-item">
        <header>
            <div class="e-picture">
                <img src="./static/img/user-picture.jpg" alt="">
                <span class="e-send-mail"><i class="material-icons">send</i></span>
            </div>
            <div class="e-info">
                <h3 class="e-name">Claudio Mendonca</h3>
                <h4 class="e-job">Graphic Designer</h4>
                <h5 class="e-institution">Government of South Australia</h5>
            </div>
        </header>
        <ul class="e-match-question-group">
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Crowdsourcing</div>
                    <div class="e-question-number">5 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Citizen Science</div>
                    <div class="e-question-number">3 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Open Data</div>
                    <div class="e-question-number">2 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="e-match-item">
        <header>
            <div class="e-picture">
                <img src="./static/img/user-picture.jpg" alt="">
                <span class="e-send-mail"><i class="material-icons">send</i></span>
            </div>
            <div class="e-info">
                <h3 class="e-name">Claudio Mendonca</h3>
                <h4 class="e-job">Graphic Designer</h4>
                <h5 class="e-institution">Government of South Australia</h5>
            </div>
        </header>
        <ul class="e-match-question-group">
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Crowdsourcing</div>
                    <div class="e-question-number">5 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Citizen Science</div>
                    <div class="e-question-number">3 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Open Data</div>
                    <div class="e-question-number">2 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="e-match-item">
        <header>
            <div class="e-picture">
                <img src="./static/img/user-picture.jpg" alt="">
                <span class="e-send-mail"><i class="material-icons">send</i></span>
            </div>
            <div class="e-info">
                <h3 class="e-name">Claudio Mendonca</h3>
                <h4 class="e-job">Graphic Designer</h4>
                <h5 class="e-institution">Government of South Australia</h5>
            </div>
        </header>
        <ul class="e-match-question-group">
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Crowdsourcing</div>
                    <div class="e-question-number">5 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Citizen Science</div>
                    <div class="e-question-number">3 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            <li class="e-match-questionnaire">
                <a href="#">
                    <div class="e-subject">Open Data</div>
                    <div class="e-question-number">2 Questions</div>
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
