{% extends "style-guide/base.html" %}

{% block title %}Questions{% endblock %}

{% block content %}
    <div class="b-onboarding-questions">
        <div class="e-card">
            <h3 class="e-card-category">Community Engagement 1</h3>
            <p class="e-question">How to create incentives for people to provide data?</p>
            <form action="">
                <button class="b-button m-guide">I can guide</button>
                <button class="b-button m-do">I can do</button>
                <button class="b-button m-connect">I can connect others</button>
                <button class="b-button m-learn">I want to learn</button>
                <button class="b-button m-skip">Skip this question</button>
            </form>
        </div>

        <div class="e-card">
            <h3 class="e-card-category">Community Engagement 2</h3>
            <p class="e-question">How to use new methods (e.g. crowdsourcing) for collecting data</p>
            <form action="">
                <button class="b-button m-guide">I can guide</button>
                <button class="b-button m-do">I can do</button>
                <button class="b-button m-connect">I can connect others</button>
                <button class="b-button m-learn">I want to learn</button>
                <button class="b-button m-skip">Skip this question</button>
            </form>
        </div>

        <div class="e-card">
            <h3 class="e-card-category">Community Engagement 3</h3>
            <p class="e-question">How to make sure data is accurate, up-to-date, and clean</p>
            <form action="">
                <button class="b-button m-guide">I can guide</button>
                <button class="b-button m-do">I can do</button>
                <button class="b-button m-connect">I can connect others</button>
                <button class="b-button m-learn">I want to learn</button>
                <button class="b-button m-skip">Skip this question</button>
            </form>
        </div>
    </div>
    <img class="ui-bg" src="./static/img/mobile-ui-blur.jpg" alt="">
{% endblock %}
