{% extends "style-guide/base_profile.html" %}

{% block title %}Profile Overview{% endblock %}



{% block content %}
<nav class="b-contextual-nav">
    <ul class="e-menu-items">
        <li class="e-item m-active">Overview</li>
        <li class="e-item">Expertise</li>
    </ul>
</nav>

<section class="b-profile-overview">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, dignissimos debitis, dolorum nihil odit impedit maiores vero ratione expedita libero illum sint quis veritatis esse? Nihil, consequatur. Necessitatibus, pariatur, vero.
</section>
<footer class="b-footer-message">
    
</footer>

{% endblock %}
