{% extends "style-guide/base.html" %}

{% block title %}Sign Up Confirmation{% endblock %}

{% block content %}
    <div class="b-onboarding m-signup-confirmation">
        <header>
            <div class="b-logo">NOI</div>
            
        </header>
        
        <section>
            <p class="e-onboarding-message">Please check your email <br>to confirm the registration</p>
        </section>
        
        <footer>
            <div class="e-signup-progress">
                <span class="m-current"></span>
                <span></span>
                <span></span>
            </div>
        </footer>
    </div>
{% endblock %}
