.b-contextual-nav {
    width: 100%;
    background-color: $gray-80;
    padding: 20px 0;
    margin: 0;
    overflow-x: scroll;

    .e-menu-items {
        padding: 0;
        width: auto;
        white-space: nowrap;
        text-align: center;
        margin: 0 115px;
    }

    .e-item {
        list-style: none;
        text-transform: uppercase;
        font-weight: 400;
        color: $white-40;
        letter-spacing: 1px;
        display: inline-block;
        margin: 0 40px;

        &.m-active {
            transform: scale(1.3);
            color: $white-80;
            font-weight: 600;
        }   
    }
}

.b-activity-feed {

    .e-activity-feed-container {
        margin: 0;
        padding: 0;    
    }

    .e-feed-item {
        list-style: none;
        margin: 0;
        padding: 15px 20px;
        display: flex;
        align-items: center;
    }

    .e-feed-item:nth-of-type(even) {
        background-color: $gray-05;
    }

    .e-user-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .e-feed-message {
        flex: 1;

        p {
            margin: 10px 0;
        }

        .e-more {
            text-transform: uppercase;
            color: $gray-40;
            font-size: 14px;
            font-weight: 600;

            &:hover { color: $blue; }
        }
    }

    .e-actions {
        color: $gray-40;
        &:hover { color: $blue; }
    }
}






















