body {
    font-family: $main-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p { color: $gray-80; }

a { 
    text-decoration: none; 
    color: inherit;
}

.b-logo { 
    color: $white-40;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
}