// Textfields

textarea,
input { outline: none; }



.b-textfield {
    padding: 15px;
    background-color: $white-20;
    border: 0;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    color: $white;
    transition: all 0.4s ease;

    &:focus { 
        outline: none;
        background-color: $white;
        transition: all 0.4s ease;
        color: $gray-80;
    }

    box-shadow: inset 0 0 3px $gray-10;

    @include breakpoint($mobile) { display: block; }
}

.b-textfield::-webkit-input-placeholder { color: $white; }
.b-textfield:-moz-placeholder { color: $white; } 
.b-textfield::-moz-placeholder { color: $white; } 
.b-textfield:-ms-input-placeholder { color: $white; }

.b-textfield:focus::-webkit-input-placeholder { color: $gray-80; }
.b-textfield:focus:-moz-placeholder { color: $gray-80; } 
.b-textfield:focus::-moz-placeholder { color: $gray-80; } 
.b-textfield:focus:-ms-input-placeholder { color: $gray-80; }

.b-textfield.m-invalid::-webkit-input-placeholder { color: $red; }
.b-textfield.m-invalid:-moz-placeholder { color: $red; }
.b-textfield.m-invalid::-moz-placeholder { color: $red; }
.b-textfield.m-invalid:-ms-input-placeholder { color: $red; }

.b-textfield.m-valid::-webkit-input-placeholder { color: $green; }
.b-textfield.m-valid:-moz-placeholder { color: $green; }
.b-textfield.m-valid::-moz-placeholder { color: $green; }
.b-textfield.m-valid:-ms-input-placeholder { color: $green; }

.b-textfield.m-invalid,
.b-textfield.m-valid { background-color: $white-80; }

// Buttons

.b-button {
    width: 100%;
    padding: 16px;
    background-color: $gray-20;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 5px $gray-10;
    text-align: center;
    display: block;

    @include breakpoint($mobile) { display: block; }   
}

.b-button.m-naked {
    background-color: transparent;
    color: $gray-30 !important;
    box-shadow: none;
}

// Button variations for the questionnaires

.b-button.m-explain,
.b-button.m-do,
.b-button.m-connect,
.b-button.m-learn {
    color: $white;
    margin-bottom: 10px;
}

.b-button.m-explain { background-color: $purple; }
.b-button.m-do { background-color: $teal; }
.b-button.m-connect { background-color: $yellow; }
.b-button.m-learn { background-color: $orange; }
.b-button.m-skip {
    background-color: transparent;
    color: $gray-30 !important;
    box-shadow: none;
}

.b-checkbox {
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: .5px;
    
    input[type="checkbox"] { margin-right: 10px; }
}


// <div class="b-dropdown">
//     <select>
//         <option></option>
//     </select>
// </div>

.b-dropdown {
    width: 100%;
    display: block;
    position: relative;

    select {
        padding: 10px 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        width: inherit;
        border: 0;
        font-weight: 600;
        background-color: $gray-60-matte;
        color: $white;
        letter-spacing: 1px;
    }

    &:after {
        width: 0;
        height: 0;
        border-top: 10px solid $white-30;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        position: absolute;
        right: 16px;
        top: 16px;
        pointer-events: none;
    }
}


.b-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-60;

    &.m-active { display: block; }
}

.b-header {
    width: 100%;
    background-color: $gray-80;
    padding: 20px;
    margin: 0;
    text-align: center;
    color: $white-80;
    text-transform: uppercase;
    font-weight: 600;
    font-size: inherit;
    letter-spacing: 1px;
}
