.b-match-me {

    .e-intro {
        text-align: center;
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        background-color: $gray-10;
        margin: 0;
        padding: 15px 0;
    }

    .e-match-item header {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        align-items: center;
    }

    .e-picture {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
        padding: 20px;
        position: relative;
        width: 150px;
        height: 150px;
        text-align: center;

        img {
            max-width: 100%;
            @include circle;
        }

        .e-send-mail {
            position: absolute;
            bottom: 5px;
            left: calc(50% - 18px);
            @include circle;
            background-color: $blue;
            height: 36px;
            width: 36px;
            display: inline-block;
            text-align: center;
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
            text-indent: 1px;
            align-items: center;
            justify-content: center;

            i { 
                color: $white; 
                font-size: 20px;
            }
        }
    }

    .e-info {
        -webkit-box-flex: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 3;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 3;           /* IE 10 */
        flex: 3;               /* NEW, Spec - Firefox, Chrome, Opera */
        text-align: left;
    }

    .e-name,
    .e-job,
    .e-institution {
        margin: 6px 0;
        font-weight: 600;
    }

    .e-name {
        text-transform: uppercase;
        font-size: 18px;
    }

    .e-job {
        font-size: 15px;
    }

    .e-institution {
        font-weight: 400;
        font-size: 14px;
    }

    .e-match-question-group {
        padding: 0;

        li {
           list-style-type: none;
           margin: 0;
        }

    }

    .e-match-questionnaire a {
        padding: 10px 20px;
        align-items: center;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    }

    .e-match-questionnaire:nth-of-type(odd) a {
        background-color: $gray-05;
    }
    
    .e-subject {
        -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;           /* IE 10 */
        flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
        text-transform: uppercase;
        font-weight: 600;
        
    }

    .e-question-number {
        display: inline-block;
        white-space: nowrap;
        padding: 0 10px;
        font-size: 12px;
        font-style: italic;
    }

    .material-icons {
        color: $gray-40;
    }


}