.b-onboarding {
    text-align: center;
    color: $white;
    background-color: $blue;
    flex-flow: column;
    min-height: 100vh;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    header { height: 12vh;}
    section { 
        -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;           /* IE 10 */
        flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
    }


    .e-onboarding-message {
        font-size: 18px;
        letter-spacing: 0.5px;
        margin: 20px 30px;
    }

    .e-onboarding-form {
        padding:  0 30px;

        .b-button {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .b-textfield,
        .b-dropdown {
            margin-bottom: 10px;
        }
    }

    .e-password-reminder {
        margin-top: 20px;
        color: $white;
        display: inline-block;
    }

    .e-signup {
        padding: 20px 30px;
        margin-bottom: 0;
        background-color: $gray-20;

        a {
            color: $white;
            font-weight: 600;
            text-decoration: none;
        }   
    }

    .e-confirmed {
        font-size: 48px;
        margin: 20px 0 0;
    }

    .e-category-menu {
        padding: 20px 30px 0;

        .e-category {
            box-sizing: border-box;
            display: inline-block;
            padding: 30px 0;
            background-color: $white-10;
            margin: 2px 0;
            width: calc(50% - 10px);
            color: $white;
            font-size: 16px;
            height: 110px;
            vertical-align: middle;

        }        
    }

    .e-signup-progress {
        height: 7vh;

        span {
            border-radius: 50%;
            background-color: $white-50;
            display: inline-block;
            height: 12px;
            width: 12px;
            margin: 0 5px;
            vertical-align: middle;
        }

        .m-current {
            background-color: $white;
            height: 16px;
            width: 16px;
        }
    }
}
.ui-bg { width: 100%; }

.b-onboarding-questions {
    position: absolute;
    top: 8vh;
    left: 7%;
    width: 82%;

    .e-card {
        text-align: center;
        background-color: $white;
        box-shadow: 3px 3px 10px $gray-30;
        position: absolute;
        padding-bottom: 30px;


        .e-card-category {
            background-color: $blue;
            margin-top: 0;
            padding: 6px;
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 16px;
        }

        form {
            margin-left: 20px;
            margin-right: 20px;
        }

        .e-question {
            font-size: 18px;
            margin: 30px 20px;
        }

        .b-button { 
            margin-bottom: 10px; 
            color: $white;
        }

        .b-button.m-join {
            background-color: $blue;
            display: block;
        }
    }

    .e-card.m-intro {
        h3 { 
            background-color: $blue; 
            margin-bottom: 100px;
        }

        p {
            margin: 20px;
        }

        .e-text {
            font-size: 22px;
        }

        .e-aux-text {
            color: $gray-40;
            margin-bottom: 150px;
        }

        .b-button {
            display: block;
            width: auto;
            margin: 0 20px;
            background-color: $blue;
        }
    }

    .e-card:first-of-type {
        z-index: 100;
    }

    .e-card:nth-of-type(2) {
        z-index: 99;
        transform: translate(10px, 10px);
    }

    .e-card:nth-of-type(3) {
        z-index: 98;
        transform: translate(20px, 20px);
    }

    .e-card:nth-of-type(4) {
        z-index: 97;
        transform: translate(30px, 30px);
    }
}