.b-profile-progress {
    
    .e-progress-container {
        margin: 0;
        padding: 0;
    }

    .e-progress-item {
        list-style: none;
        position: relative;


        a { 
            padding: 15px 20px;
            display: block;

            &:after {
                color: $gray-20;
                font-family: 'Material Icons';
                font-style: normal;
                font-weight: 400;
                content: '\E5C8';
                font-size: 24px;
                position: absolute;
                right: 10px;
            }
        }

        &:nth-of-type(even) a { background-color: $gray-05; } // Zebra Stripes

        .e-questions-left {
            position: absolute;
            right: 46px;
            font-size: 14px;
            font-style: italic;
            color: $gray-40;
            padding: 17px 0;
            top: 0;
        }
    
    &:not([data-questions-left='0']) {

        .e-bar {
            position: absolute;
            background-color: $blue;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    &.m-completed,
    &[data-questions-left='0'] {
        color: $white;
        background-color: $green !important;

        .e-bar { display: none; }

        .e-questions-left { display: none; }

        a:after { 
            color: currentColor;
            content: '\E876'; // Checkmark Icon
        } 
    }
    
    }    
}

