{% extends '__base_ui__.html' %}

{% block title %}Page Not Found | Network of Innovators{% endblock %}
{% block body_class %}b-landing-page{% endblock %}

{% block content %}
  <section class="b-homepage-panel e-error-display"> 
    <div class='row'>
      <i class="material-icons error-page-icon">error_outline</i>
      <h2>Error 404</h2>
      <h3>We couldn't find what you were looking for</h3>
      <h4>Try using the navigation above or <a href="/"> go back to the homepage</a></h4>
    </div>
  </section>
{% endblock %}
