<!DOCTYPE html>
<html lang="{{ get_locale().language }}" class="{{ NOI_DEPLOY|slug }}">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% block page_style_pre %}{% endblock %}
    <meta name="global-config-json" content="{{ global_config_json }}">
    {% if page_config_json -%}
    <meta name="page-config-json" content="{{ page_config_json }}">
    {%- endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/normalize.css') }}">
    <link rel="stylesheet" href="{{ COMPILED_SASS_ROOT }}/styles.scss.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{{ gettext('Network of Innovators') }}{% endblock %}</title>
    {% block page_style_post %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- Display the Flash alerts. -->
{# Regardless of where these appear visually on the page, they should
   stay near the top of the HTML so that screen readers announce them
   first. #}

{% from "_macros.html" import render_alert %}
{% for category, message in get_flashed_messages(with_categories=true) %}
  {# Some flashed messages come from third-party code and we don't want
     them to be displayed. The only way we can disable them from being
     displayed, unfortunately, is to set their message text to something
     we detect for here. #}
  {%- if message != 'DO_NOT_DISPLAY_ME' -%}
  {{ render_alert(message=message, category=category) }}
  {%- endif -%}
{% endfor %}

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='vendor/jquery-1.11.3.min.js') }}"></script>
    <script src="//use.typekit.net/zez3buj.js"></script>
    {% assets "main_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block page_script %}{% endblock %}
</body>
</html>
