<nav class="navbar navbar-default b-navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{ gettext('Toggle navigation') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ gettext('Network of Innovators ') }}<em>{{ gettext('(beta)') }}</em></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">{{ gettext('About') }}</a></li>
        <li><a href="/feedback">{{ gettext('Feedback') }}</a></li>
        <li><a href="/search">{{ gettext('Search') }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ gettext('Explore') }}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/recent">{{ gettext('Recently joined') }}</a></li>
            <li><a href="/match">{{ gettext('Find innovators with answers') }}</a></li>
            <li><a href="/match-knn">{{ gettext('Find innovators like you') }}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {% if current_user.has_picture %}
            <img class="profile-img-nav" src="{{ current_user.picture_url }}"/>
            {% else %}
            {{ gettext('My Profile') }}
            {% endif %}
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if current_user.is_authenticated() %}
            <li><a href="/me">{{ gettext('Edit My Profile') }}</a></li>
            <li><a href="/my-expertise">{{ gettext('Edit My Expertise') }}</a></li>
            <li><a href="/user/{{ current_user.id }}">{{ gettext('See My Public Profile') }}</a></li>
            <li><a href="/logout">{{ gettext('Logout') }}</a></li>
            {% else %}
            <li><a href="/register">{{ gettext('Register') }}</a></li>
            <li><a href="/login">{{ gettext('Login') }}</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
