{% macro get_user_avatar_url(user) -%}
{% if user.has_picture -%}
{{ user.picture_url }}
{%- elif user.linkedin and user.linkedin.picture_url -%}
{{ user.linkedin.picture_url }}
{%- else -%}
{{ get_nopic_avatar(user.email) }}
{%- endif %}
{%- endmacro %}

{% macro render_multi_select_instructions(style='') %}
  <small style="{{ style }}">{{ gettext("To select multiple items, hold down the <strong>CTRL</strong> key (or the Command key on Macs).") }}</small>
{% endmacro %}

{% macro render_alert(message, category) %}
  {% if category == 'error' %}
    {% set flashed_message_class = 'm-error' %}
  {% else %}
    {% set flashed_message_class = 'm-success' %}
  {% endif %}
  <div class="b-alert-message alert {{flashed_message_class}}">
    <a href="#" data-dismiss="alert" class="material-icons b-close-button">close</a>
    <p>{{ message|safe }}</p>
  </div>
{% endmacro %}

{% macro render_static_tab_bar(tabs, active_tab) %}
<nav class="b-contextual-nav">
    <ul class="e-menu-items" role="tablist">
        {% for tabid, tablabel, taburl in tabs %}
        <li role="presentation" class="e-item {% if tabid == active_tab %}active{% endif %}"><a href="{{ taburl }}" role="tab">{{ tablabel }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% macro render_static_tab_panel(class='') %}
<section role="tabpanel" class="{{ class }} active">
  {{ caller() }}
</section>
{% endmacro %}

{% macro render_tab_bar(tabs, active_tab) %}
<nav class="b-contextual-nav">
    <ul class="e-menu-items" role="tablist">
        {% for tabid, tablabel in tabs %}
        <li role="presentation" class="e-item {% if tabid == active_tab %}active{% endif %}"><a href="#{{ tabid }}" aria-controls="{{ tabid }}" role="tab" data-toggle="tab">{{ tablabel }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}

{% macro render_tab_panel(tabid, active_tab, class='') %}
<section role="tabpanel" id="{{ tabid }}" class="{{ class }} {% if tabid == active_tab %}active{% endif %}">
  {{ caller() }}
</section>
{% endmacro %}

{% macro render_user_mailto_link(user, class='') %}
  <a class="{{ class }}" href="mailto:{{ user.email }}?subject=Contact%20request%20via%20Network%20Of%20Innovators&body=Dear%20{{user.first_name}}" data-connect-to="{{ user.email }}">{{ caller() }}</a>
{% endmacro %}

{% set CONTACT_EMAIL = "noi@thegovlab.org" %}

{% macro render_contact_govlab_link() -%}
<a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>
{%- endmacro %}
