{% macro get_user_avatar_url(user) -%}
{% if user.has_picture -%}
{{ user.picture_url }}
{%- else -%}
/style-guide/static/img/user-picture.jpg
{%- endif %}
{%- endmacro %}

{% macro render_alert(message, category) %}
  {% if category == 'error' %}
    {% set flashed_message_class = 'm-error' %}
  {% else %}
    {% set flashed_message_class = 'm-success' %}
  {% endif %}
  <div class="b-alert-message alert {{flashed_message_class}}">
    <a href="#" data-dismiss="alert"><div class="material-icons">close</div></a>
    <p>{{ message|safe }}</p>
  </div>
{% endmacro %}
