<div class="b-network-viz">
  <div class="e-legend">
    <div class="e-legend-item m-learn"><span>{{ gettext('Wants to Learn') }}</span></div><!--
    --><div class="e-legend-item m-explain"><span>{{ gettext('Can Explain') }}</span></div><!--
    --><div class="e-legend-item m-connect"><span>{{ gettext('Can Connect Others') }}</span></div><!--
    --><div class="e-legend-item m-do"><span>{{ gettext('Can Do It') }}</span></div>
  </div>
  {% for area_info in viz_data %}
      <div class="e-questionnaire-area">
        <div class="e-skill-level m-do" style="width: 100%"></div>
        <div class="e-skill-level m-connect" style="width: {{ area_info.learn + area_info.explain + area_info.connect }}%"></div>
        <div class="e-skill-level m-explain" style="width: {{ area_info.learn + area_info.explain }}%"></div>
        <div class="e-skill-level m-learn" style="width: {{ area_info.learn }}%"></div>
        <div class="e-screen"></div>
        <h2>{{ gettext(area_info.name) }}</h2>
        <p>{{ gettext('%(count)d questions answered', count=area_info.total) }}</p>
      </div>
  {% endfor %}
</div>
