{% from "_macros.html" import render_user_mailto_link %}

{% macro show_user_answer(user, class, text) %}
<div class="e-user-answer {{ class }}">
  <img src="{{ get_user_avatar_url(user) }}" alt="">
  {% set user_answer_text = caller() %}
  {% call render_user_mailto_link(user) %}
  <span class="e-user-answer-text">{{ user_answer_text }} <span class="material-icons">send</span></span>
  {% endcall %}
</div>
{% endmacro %}

{% macro show_user_skills(skill_dict, is_matched) %}
    {% for skill_level, question_ids in skill_dict.items() %}
      {% for question_id in question_ids %}
        <li class="e-question-item" {% if loop.first %}id="{% if not is_matched %}unmatched_{% endif %}{{ skill_level }}"{% endif %}>
          <p class="e-question-text">{{ gettext(QUESTIONS_BY_ID[question_id].question) }}</p>
          {% if is_matched %}
          <center><em>
              {{ gettext("You want to learn this!") }}
          </em></center>
          {% endif %}
          {% if skill_level == LEVELS['LEVEL_I_CAN_EXPLAIN'].score %}
            {% call show_user_answer(user, 'm-explain') %}
              {{ gettext("%(user)s can <strong>explain</strong>", user=user.first_name) }}
            {% endcall %}
          {% elif skill_level == LEVELS['LEVEL_I_CAN_DO_IT'].score %}
            {% call show_user_answer(user, 'm-do') %}
              {{ gettext("%(user)s can <strong>do it</strong>", user=user.first_name) }}
            {% endcall %}
          {% elif skill_level == LEVELS['LEVEL_I_CAN_REFER'].score %}
            {% call show_user_answer(user, 'm-connect') %}
              {{ gettext("%(user)s can <strong>connect you</strong>", user=user.first_name) }}
            {% endcall %}
          {% elif skill_level == LEVELS['LEVEL_I_WANT_TO_LEARN'].score %}
            {% call show_user_answer(user, 'm-learn') %}
              {{ gettext("%(user)s wants to <strong>learn</strong>", user=user.first_name) }}
            {% endcall %}
          {% else %}
            {% call show_user_answer(user, 'm-learn') %}
              {{ user.first_name }} wants to <strong>{{ skill_level }}</strong>
            {% endcall %}
          {% endif %}
        </li>
      {% endfor %}
    {% endfor %}
{% endmacro %}

{% set matched_skill_dict, unmatched_skill_dict = current_user.match_against_with_progress_in_area(user, areaid) %}
    <div class="e-category">
      <a href="{{ url_for('views.get_user_expertise', userid=user.id, _anchor='expertise') }}" class="e-back"><i class="material-icons">arrow_backwards</i></a>
      {{ gettext(QUESTIONNAIRES_BY_ID[areaid]['name']) }}
    </div>

    <ul class="b-matching-questions">
      {{ show_user_skills(matched_skill_dict, is_matched=True) }}
      {{ show_user_skills(unmatched_skill_dict, is_matched=False) }}
    </ul>
