<ul class="e-progress-container">
  {% set q_progress = user.questionnaire_progress %}
  {% for questionnaire in QUESTIONNAIRES %}
    {% set item_progress = q_progress[questionnaire.id] %}

    {% set questionnaire_url = url_for('views.my_expertise_area', areaid=questionnaire.id) %}

    {% if item_progress.total > 0 %}
    {% if item_progress.answered > 0 %}
      {% set questions_left = item_progress.total - item_progress.answered %}
      {% set percentage_complete = item_progress.answered / item_progress.total * 100 %}
      <li class="e-progress-item" data-questions-left="{{ questions_left }}">
        <a href="{{ questionnaire_url }}">{{ questionnaire.name }}</a>
        {% if questions_left > 0 %}
          <div class="e-questions-left">{{ gettext('%(questions_left)s question(s) left', questions_left=questions_left) }}</div>
          <div class="e-bar" style="width: {{ percentage_complete }}%"></div>
        {% else %}
          <div class="e-bar"></div>
        {% endif %}
      </li>
    {% else %}
      <li class="e-progress-item"><a href="{{ questionnaire_url }}">{{ questionnaire.name }}</a></li>
    {% endif %}
    {% endif %}
  {% endfor %}
</ul>

<footer class="b-footer-message">
  <h3><a href="{{ url_for('views.my_profile') }}">
    {{ gettext('Complete Your Profile') }}
  </a></h3>
  <p>
    {{ gettext('Let others know your skills & expertise and also get more relevant matches!') }}
  </p>
</footer>
