{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('About') }}{% endblock %}

{% block content %}

<h1 class="b-header">{{ gettext('About') }}</h1>

<section class="b-faq">
    <ul class="e-faq-list">
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("What is Network of Innovators?") }}</p>
            <p class="e-answer">{{ gettext("Network of Innovators (NoI) is an expert network designed and developed by The GovLab in collaboration with governance innovation leaders across eight countries. It makes searchable the know-how of government innovators on topics integral to governing more effectively and legitimately, such as open data, citizen engagement and prize-backed challenges. By answering questions about your governance innovation skills and experiences, you can be matched to those with complementary knowledge to enable mutual support and learning.") }}</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Who is NoI designed for?") }}</p>
            <p class="e-answer">{{ gettext("NoI is an expert network for government and civic innovators worldwide who want to find and collaborate with others who can help them better solve public problems.") }}</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("What problem does NoI aim to solve?") }}</p>
            <p class="e-answer">{{ gettext("In large institutions, there is no good way to target opportunities for collaboration. Professionals working in a variety of contexts - from regulatory agencies to social innovation labs - have a hard time identifying who among their colleagues and peers has the experience and expertise to better solve problems. There are a number of factors feeding into this reality:") }}</p>
            <ul>
              <li>{{ gettext("Titles and credentials don’t capture real world know-how.") }}</li>
              <li>{{ gettext("Government projects or public-private partnerships are typically branded as institutional achievements.") }}</li>
              <li>{{ gettext("There is a lack of well developed taxonomies of  skills for new domain areas of government, like open data or prize-backed challenges.") }}</li>
            </ul>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("What is the goal of NoI?") }}</p>
            <p class="e-answer">{{ gettext("NoI aims to organize and develop the taxonomy of innovation practices. Through ongoing engagement with governance innovation practitioners from around the world, we are continuing to refine NoI with a focus on capturing the most impactful and desirable innovation skills for public servants today.") }}</p>
            <p class="e-answer">{{ gettext("21st Century Innovation Skillsets:") }}</p>
            <ul>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID.opendata.name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.opendata.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID.datascience.name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.datascience.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID.communityengagement.name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.communityengagement.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID.citizenscience.name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.citizenscience.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID.crowdsourcing.name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.crowdsourcing.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext("Randomized Control Trials") }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.rcts.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext("Prize-Backed Challenges") }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID.prizes.description) }}</p>
              </li>
              <li>
                <p class="e-question">{{ gettext(QUESTIONNAIRES_BY_ID['lab-design'].name) }}</p>
                <p class="e-answer">{{ gettext(QUESTIONNAIRES_BY_ID['lab-design'].description) }}</p>
              </li>
            </ul>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("About The GovLab") }}</p>
            <p class="e-answer">{{ gettext("The GovLab is an action research institute at New York University. Our goal is to strengthen the ability of institutions, governments and people to work more openly, collaboratively, and legitimately to solve public problems. We believe that increased use of data, new ways to leverage the skills and expertise of individuals, combined with advances in science and technology can transform governance. We approach each challenge in an interdisciplinary and collaborative way, irrespective of the problem, sector or geography.") }}</p>
        </li>
    </ul>
</section>

{% endblock %}
