{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('About') }}{% endblock %}

{% block content %}

<section class="b-faq">
    <ul class="e-faq-list">
        <li class="e-faq-item">
            <p class="e-question">What is Network of Innovators?</p>
            <p class="e-answer">Network of Innovators (NoI) is an expert network designed and developed by The GovLab in collaboration with governance innovation leaders across eight countries. It makes searchable the know-how of government innovators on topics integral to governing more effectively and legitimately, such as open data, citizen engagement and prize-backed challenges. By answering questions about your governance innovation skills and experiences, you can be matched to those with complementary knowledge to enable mutual support and learning.</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">Who is NoI designed for?</p>
            <p class="e-answer">NoI is an expert network for government and civic innovators worldwide who want to find and collaborate with others who can help them better solve public problems.</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">What problem does NoI aim to solve?</p>
            <p class="e-answer">In large institutions, there is no good way to target opportunities for collaboration. Professionals working in a variety of contexts - from regulatory agencies to social innovation labs - have a hard time identifying who among their colleagues and peers has the experience and expertise to better solve problems. There are a number of factors feeding into this reality:</p>
            <ul>
              <li>Titles and credentials don’t capture real world know-how.</li>
              <li>Government projects or public-private partnerships are typically branded as institutional achievements.</li>
              <li>There is a lack of well developed taxonomies of  skills for new domain areas of government, like open data or prize-backed challenges. </li>
            </ul>
        </li>
        <li class="e-faq-item">
            <p class="e-question">What is the goal of NoI?</p>
            <p class="e-answer">NoI aims to organize and develop the taxonomy of innovation practices. Through ongoing engagement with governance innovation practitioners from around the world, we are continuing to refine NoI with a focus on capturing the most impactful and desirable innovation skills for public servants today.</p>
            <p class="e-answer">21st Century Innovation Skillsets:</p>
            <ul>
              <li>
                <p class="e-question">Open Data</p>
                <p class="e-answer">When institutions open their data for research, analysis and reuse, it can be a powerful tool for improvement. Open data can provide the raw material to convene informed conversations about what’s broken and the empirical foundation for developing solutions.</p>
              </li>
              <li>
                <p class="e-question">Data Science</p>
                <p class="e-answer">Data Science is an interdisciplinary field about processes and systems to extract knowledge or insights from large volumes of data.</p>
              </li>
              <li>
                <p class="e-question">Community Engagement</p>
                <p class="e-answer">Engagement can build trust and increase the legitimacy of decision-making. But knowing when and how to engage members of a community and under what conditions is hard.</p>
              </li>
              <li>
                <p class="e-question">Citizen Science</p>
                <p class="e-answer">Citizen science refers to scientific or research tasks that are undertaken collaboratively by volunteer members of the general public, scientists or researchers. Citizen science can provide an innovative method to help do better research and accomplish difficult objectives more effectively and efficiently.</p>
              </li>
              <li>
                <p class="e-question">Crowdsourcing</p>
                <p class="e-answer">Crowdsourcing uses communications technologies to enable institutions to leverage the wisdom of the crowd. By enabling institutions to get more distributed and diverse collaboration in ways never before possible, they can improve a project’s efficiency, legitimacy and diversity.</p>
              </li>
              <li>
                <p class="e-question">Randomized Control Trials</p>
                <p class="e-answer">Randomized Control Trials (RCTs) — comparing the outcomes of an intervention with a particular group against another randomly selected group that does not receive the intervention — are a rigorous and inexpensive way to find what works. Increasingly, public institutions are testing the effectiveness of services, for example, by delivering it two different ways.</p>
              </li>
              <li>
                <p class="e-question">Prize-Backed Challenges</p>
                <p class="e-answer">Prize-Backed Challenges offer an incentive to encourage, recognise and reward innovation. When successfully executed, prize-backed challenges and competitions can also drive the adoption of innovations across an institution.</p>
              </li>
              <li>
                <p class="e-question">Lab Design</p>
                <p class="e-answer">Governments are seeking to become more experimental and evidence-based through the creation of internal innovation labs. The growing labs movement is helping to uncover what works in practice.</p>
              </li>
            </ul>
        </li>
        <li class="e-faq-item">
            <p class="e-question">About The GovLab</p>
            <p class="e-answer">The GovLab is an action research institute at New York University. Our goal is to strengthen the ability of institutions, governments and people to work more openly, collaboratively, and legitimately to solve public problems. We believe that increased use of data, new ways to leverage the skills and expertise of individuals, combined with advances in science and technology can transform governance. We approach each challenge in an interdisciplinary and collaborative way, irrespective of the problem, sector or geography.</p>
        </li>
    </ul>
</section>

{% endblock %}
