{% extends "__base__.html" %}

{% block content %}

<form method="post">
{{ shared_message_form.csrf_token }}

{{ shared_message_form.message.label() }}
{{ shared_message_form.message(placeholder=gettext("Share with the network")) }}

<button type="submit">{{ gettext('Post') }}</button>
</form>

<h3>My Profile Progress</h3>

<ul>
  {% set q_progress = user.questionnaire_progress %}
  {% for questionnaire in QUESTIONNAIRES %}
    {% set item_progress = q_progress[questionnaire.id] %}
    {% if item_progress.answered > 0 %}
      <li>{{ questionnaire.name }}
	<progress value="{{ item_progress.answered }}"
		  max="{{ item_progress.total }}"></progress>
	{% if item_progress.answered == item_progress.total %}
	  &#x2713; {# A unicode check mark. #}
	{% endif %}
      </li>
    {% else %}
      <li class="text-muted">{{ questionnaire.name }}</li>
    {% endif %}
  {% endfor %}
</ul>
<a href="{{ url_for('views.my_profile') }}">View / Edit My Profile</a>

<h2>Activity</h2>

{% macro user_link(user) -%}
<a href="{{ url_for('views.get_user', userid=user.id) }}">{{ user.full_name }}</a>
{%- endmacro %}

<ul>
{% for event in events %}
  <li>
  <time datetime="{{ event.created_at }}"></time>
  {% if event.type == 'shared_message' %}
    <p>{{ user_link(event.user) }} shared:</p>

    {{ event.message }}
  {% else %}
    UNKNOWN EVENT TYPE: {{ event.type }}
  {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock %}
