{% extends "__base_ui__.html" %}

{% block content %}

<nav class="b-contextual-nav">
    <ul class="e-menu-items" role="tablist">
        <li role="presentation" class="e-item active"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">{{ gettext('Activity') }}</a></li>
        <li role="presentation" class="e-item"><a href="#connected" aria-controls="connected" role="tab" data-toggle="tab">{{ gettext('Most Connected') }}</a></li>
        <li role="presentation" class="e-item"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">{{ gettext('Most Complete Profiles') }}</a></li>
        <li role="presentation" class="e-item"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">{{ gettext('My Profile Progress') }}</a></li>
    </ul>
</nav>

<div> <!-- Start of tab panel container -->

<section role="tabpanel" id="activity" class="b-activity-feed active">

  <ul class="e-activity-feed-container">
{% macro user_link(user) -%}
<strong><a href="{{ url_for('views.get_user', userid=user.id) }}">{{ user.full_name }}</a></strong>
{%- endmacro %}

{% macro user_avatar(user) -%}
<img class="e-user-picture" src="{{ user.picture_url }}" alt="">
{%- endmacro %}

{% for event in events %}
  <li class="e-feed-item">
  <time datetime="{{ event.created_at }}"></time>
  {% if event.type == 'shared_message' %}
    {{ user_avatar(event.user) }}
    <div class="e-feed-message">
      <p>{{ gettext('%(user)s shared:', user=user_link(event.user)) }}</p>
      <p>{{ event.message }}</p>
    </div>
  {% elif event.type == 'user_joined_event' %}
    {{ user_avatar(event.user) }}
    <div class="e-feed-message">
      <p>{{ gettext('%(user)s joined NOI.', user=user_link(event.user)) }}</p>
    </div>
  {% elif event.type == 'connection_event' %}
    <div class="e-feed-message">
      <p>{{ gettext('+%(new)s new connections made in NOI.', new=event.emails.count()) }}</p>
      <p>{{ gettext('+%(total)s connections!', total=event.total_connections) }}</p>
    </div>
  {% else %}
    <div class="e-feed-message">
      UNKNOWN EVENT TYPE: {{ event.type }}
    </div>
  {% endif %}
  </li>
{% endfor %}
  </ul>
</section>

<div role="tabpanel" id="connected">
<ol>
  {% for user, score in most_connected_profiles %}
    <li>
      <p>{{ user_link(user) }}</p>
      <small>
        {{ gettext('%(score)s connections', score=score) }}
      </small>
    </li>
  {% endfor %}
</ol>
</div>

<div role="tabpanel" id="complete">
<ol>
  {% for user, score in most_complete_profiles %}
    <li>
      <p>{{ user_link(user) }}</p>
      <small>
        {{ score }} /
        {{ gettext('%(skill)s Skills', skill=QUESTIONS_BY_ID.keys()|length) }}
      </small>
    </li>
  {% endfor %}
</ol>
</div>

<div role="tabpanel" id="progress">
<ul>
  {% set q_progress = user.questionnaire_progress %}
  {% for questionnaire in QUESTIONNAIRES %}
    {% set item_progress = q_progress[questionnaire.id] %}
    {% if item_progress.answered > 0 %}
      <li>{{ questionnaire.name }}
	<progress value="{{ item_progress.answered }}"
		  max="{{ item_progress.total }}"></progress>
	{% if item_progress.answered == item_progress.total %}
	  &#x2713; {# A unicode check mark. #}
	{% endif %}
      </li>
    {% else %}
      <li class="text-muted">{{ questionnaire.name }}</li>
    {% endif %}
  {% endfor %}
</ul>
<a href="{{ url_for('views.my_profile') }}">
  {{ gettext('View / Edit My Profile') }}
</a>
</div>

</div> <!-- End of tab panel container -->

{% endblock %}
