{% extends "__base__.html" %}

{% block page_style_post %}

<!-- Charts -->
<link rel="stylesheet" type="text/css" href2="/static/normalize.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">

<style>


{% for item in NOI_COLORS %}
.noi-color{{loop.index}}:before { background-color: {{item}}; }
{% endfor %}

.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 30px auto 0;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    position: relative;
    font-weight: 200;
    display: block;
    float: left;
    width: 50%;
    font-size: 0.8em;
}
.chart-legend  li:before {
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
}

#container-attendees-occupation .chart-legend { right: -100px; }

</style>
{% endblock %}

{% block content %}

<div class="container">
<div class="b-content-header">
  <h1>Location of Attendees</h1>
  <h2>{{ALL_USERS|length}} people are sharing their profile and expertise</h2>
</div>


  <div class="row">

    <div class="col-md-12">

      <div id="map-container">
        <div id="map"></div>
      </div>
    </div>

<div class="b-content-header">
  <h1>Attendees Occupation</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="container-attendees-occupation">
      <canvas id="attendees-occupation"></canvas>
      <div class="chart-legend">
        <ul>
          {% for item in OCCUPATIONS %}
          <li class="noi-color{{loop.index}}">{{item['org_type']}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
var userOccupations = {{OCCUPATIONS|tojson}};  
var attendeesOccupationData = [
  {% for item in OCCUPATIONS %}
    { 'value': {{item['cnt']}}, 'color': '{{NOI_COLORS[loop.index-1]}}' },
  {% endfor %}
    ];
function showAttendeesOccupation() {
  var canvas = document.getElementById('attendees-occupation');
  var ctx = canvas.getContext('2d');
  new Chart(ctx).Doughnut(attendeesOccupationData);
}
</script>

{% endblock %}

{% block page_script %}

<!-- Google Maps Cluster Map -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.1.2/src/markerclusterer.js"></script>

<!-- Charts -->
<script src="/static/plugins.js"></script>
<script src="/static/main.js"></script>

<script>

// We load the data from the database.
  {% if ALL_USERS is defined %}
var data = {{ALL_USERS|tojson}};
  {% else %}
var data = [];
  {% endif %}

// Utility function to parse latlng string from database.
function latLngFromString(str) {
  var arr = str.slice(1,-1).split(',');
  return new google.maps.LatLng(arr[0], arr[1]);
}

function displayMap() {
  console.log('Inside displayMap.');
  var mapOptions = { 'zoom': 2,
                   'center': new google.maps.LatLng(45.424196,-75.691188),
                   'mapTypeId': google.maps.MapTypeId.ROADMAP };
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  
  var markerClusterer = null;
  var imageUrl = 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&chco=FFFFFF,008CFF,000000&ext=.png';
  var markers = [];
  for (var i = 0; i < data.length; i++) {
    if (data[i].latlng == null) { continue; }
    var markerData = { position: latLngFromString(data[i].latlng),
                       title: data[i].first_name + ' ' + data[i].last_name };
    var marker = new google.maps.Marker(markerData);
    markers.push(marker);
  }
  var markerImage = new google.maps.MarkerImage(imageUrl, new google.maps.Size(24, 32));
  var options = {maxZoom: null, gridSize: null, styles: null, /* imagePath: '/static/img/m' */};
  markerClusterer = new MarkerClusterer(map, markers, options);
}

google.maps.event.addDomListener(window, 'load', displayMap);

$( document ).ready(function() {
  showAttendeesOccupation();
});

</script>
{% endblock %}