{% extends "__base_ui__.html" %}

{% block title %}{{ gettext("Frequently Asked Questions") }}{% endblock %}

{% from "_macros.html" import render_contact_govlab_link %}

{% block content %}

<h1 class="b-header">{{ gettext('FAQ') }}</h1>

<section class="b-faq">
    <ul class="e-faq-list">
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("What is Network of Innovators?") }}</p>
            <p class="e-answer">{{ gettext("Network of Innovators (NOI) is an expert network designed and developed by The GovLab in collaboration with governance innovation leaders across eight countries. It makes searchable the know-how of government innovators on topics integral to governing more effectively and legitimately, such as open data, citizen engagement and prize-backed challenges. By answering questions about your governance innovation skills and experiences, you can be matched to those with complementary knowledge to enable mutual support and learning.") }}</p>
            <p class="e-answer">{{ gettext("NOI attempts to get at what you know by asking the kinds of questions you can answer. You can specify the expertise you have and want to share: whether you have the ability to do something, to tell someone about it, or to connect someone to others knowledgeable about a topic.") }}</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Who is Network of Innovators for?") }}</p>
            <p class="e-answer">{{ gettext("NoI is an expert network for government and civic innovators worldwide who want to find and collaborate with others who can help them better solve public problems. NoI is especially targeted at internal government innovators looking to connect with like-minded experts and practitioners.") }}</p>
        </li>
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Why not just use LinkedIn?") }}</p>
            <p class="e-answer">{{ gettext("LinkedIn, among other networks, are built to help people share their expertise. Such networks, however, focus largely on traditional means of measuring expertise – namely academic credentials and job titles. The Network of Innovators project, in addition to giving individuals the ability to articulate and search for more specific expertise within topic areas, defines expertise more broadly and aims to make skills, experiences, and know how searchable.") }}</p>
        </li>
        
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Who can see my information?") }}</p>
            {% macro render_toc_link() -%}
              <a href="{{ url_for('views.terms_and_conditions') }}">{{ gettext("Terms of Service") }}</a>
            {%- endmacro %}
            <p class="e-answer">{{ gettext("Your NoI profile is visible to all other users of NoI – including innovators across governments and governance innovators outside in public sector. You can read more in the NoI %(toc_link)s. If you have received abusive, solicitous or otherwise irrelevant messages from other members of NoI, please report your issue to %(contact_link)s.", toc_link=render_toc_link(), contact_link=render_contact_govlab_link()) }}</p>
        </li>
        
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("How will my data be used?") }}</p>
            <p class="e-answer">{{ gettext("The information you share on NoI will be used solely for the platform’s purpose – enabling connections between government innovators – and anonymous NoI usage analysis. Your data will not be shared with any third parties, and no information will remain in the NoI database should you chose to delete your account. For more information on NoI’s data usage and control, please contact %(contact_link)s.", contact_link=render_contact_govlab_link()) }}</p>
        </li>
        
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("How will you build and improve Network of Innovators?") }}</p>
            <p class="e-answer">{{ gettext("An expert network focused on enabling the exchange of knowledge requires participation from both people looking to find expertise and those ready to share what they know. To ensure that NoI reaches this optimal level of engagement – and continues to grow and evolve – the GovLab is conducting ongoing outreach to governance innovators at relevant conferences and events, through online media channels, and through direct outreach to innovation champions in institutions throughout the world.") }}</p>
            <p class="e-answer">{{ gettext("You can <a href='%(invite_url)s'>invite an innovator</a> you know to join NoI.", invite_url=url_for('views.invite')) }}</p>
        </li>
        
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Why do I need to answer questions about what I know?") }}</p>
            <p class="e-answer">{{ gettext("NoI is premised on the belief that simple tags (e.g., my skills are “open data” and “crowdsourcing”) do not adequately capture the full gamut of experience and know how possessed by governance innovators. To help move beyond free-form tags, NoI asks you to note if and how you could answer a specific innovation question from someone looking to access your expertise. This approach, we believe, will help you to better describe the range and nuance of your innovation expertise, and enable more fruitful connections with others on NoI.") }}</p>
        </li>
        
        <li class="e-faq-item">
            <p class="e-question">{{ gettext("How does your matching algorithm work?") }}</p>
            <p class="e-answer">{{ gettext("NOI uses the answers you give to the innovation skill questions to match you with others from whom you can learn the most. Based on all innovation skills that you answer “I want to learn”, NOI’s algorithm ranks the innovators in the network who can do, explain or connect you on most of them. This is also how others who can learn the most from your expertise will be able to find and consult with you.") }}</p>
        </li>

        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Why were these governance innovation topics chosen, and will more innovation areas be added to NoI?") }}</p>
            <p class="e-answer">{{ gettext("The innovation topic questionnaires found on NoI were identified and developed by the GovLab and its governance innovation partners across eight countries. The innovation areas and the profile-creation questions included for each topic were carefully crafted and iterated upon through detailed research into the current state of governance innovation around the world and, importantly, ongoing outreach and discussion with governance innovation practitioners around the world.") }}</p>
            <p class="e-answer">{{ gettext("To suggest the addition of another innovation topic, contact us at %(contact_link)s.", contact_link=render_contact_govlab_link()) }}</p>
        </li>

        <li class="e-faq-item">
            <p class="e-question">{{ gettext("Who created NoI?") }}</p>
            <p class="e-answer">{{ gettext("NoI was developed by The Governance Lab @ NYU (GovLab), in partnership with governance innovation leaders across eight countries.") }}</p>
            <p class="e-answer">{{ gettext("The GovLab’s mission is « to improve people’s lives by changing the way we govern ».") }}</p>
            <p class="e-answer">{{ gettext("Our goal is to strengthen the ability of institutions – including but not limited to governments – and people to work more openly, collaboratively, effectively and legitimately to make better decisions and solve public problems.") }}</p>
            <p class="e-answer">{{ gettext("We believe that increased availability and use of data, new ways to leverage the capacity, intelligence, and expertise of people in the problem-solving process, combined with new advances in technology and science can transform governance. Learn more at <a href='http://thegovlab.org'>thegovlab.org</a>.") }}</p>
        </li>

        <li class="e-faq-item">
            <p class="e-question">{{ gettext("How can I contact you?") }}</p>
            <p class="e-answer">{{ gettext("Suggestions for improving NoI? Found a bug? Questions on how to make the most of the network? We’d love to hear from you! Contact us at %(contact_link)s and/or fill out our <a href='%(feedback_url)s'>feedback form</a>.", contact_link=render_contact_govlab_link(), feedback_url=url_for('views.feedback')) }}</p>
        </li>
            </ul>
</section>

{% endblock %}
