{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('Feedback') }}{% endblock %}

{% block content %}


<h1 class="b-header">{{ gettext('Share your feedback about the Network of Innovators') }}</h1>

{% if get_locale().language == "es" %}
  {% set data_url = "https://bsayici.typeform.com/to/GJ835d" %}
  {% set data_text = "NOI Feedback (es)" %}
{% else %}
  {% set data_url = "https://bsayici.typeform.com/to/wNBAos" %}
  {% set data_text = "NOI Feedback" %}
{% endif %}

<div class="typeform-widget" data-url="{{ data_url }}" data-text="{{ data_text }}" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

{% endblock %}
