{% extends "__base__.html" %}

{% block title %}{{ gettext('Feedback') }}{% endblock %}

{% block page_style_post %}
<link href="//d3q1ytufopwvkq.cloudfront.net/0/formrenderer.css" rel="stylesheet" />
{% endblock %}

{% block content %}


<!-- Stick these two lines in your <head> if possible: -->

<h1>{{ gettext('Share your feedback about the Network of Innovators') }}</h1>


<form data-formrenderer>{{ gettext('This form requires JavaScript to complete.') }}</form>

{% endblock %}


{% block page_script %}
<script src="//d3q1ytufopwvkq.cloudfront.net/0/formrenderer.js"></script>
<script>
  new FormRenderer({
    "project_id": {{ config.CONTACT_FORM_ID }},
    "afterSubmit": {
      "method": "page",
      "html": "<p>{{ gettext('Thanks for submitting our form!') }}</p>"
    }
  });
</script>
{% endblock %}
