{% extends '__base__.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div id="login-page">
<div class="b-content-header">
  <h1>Please login using your favorite social network.</h1>
  <p>We are using your social information to populate your first name, last name and profile picture.</p>
</div>

<div class="row">
	<div class="b-login-items">
		{% for item in [ 'facebook', 'google', 'instagram', 'linkedin', 'twitter', 'windows'] %}
  		<div class="col-md-4" data-login="{{item}}">
  			<div class="b-login-item">
	  			<i class="fa fa-{{item}} fa-3x"></i>
	  			<br/>{{item}}
  			</div>
  		</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}


{% block page_script %}

	<script>
	// TODO: FIX WHEN WE DEPLOY

	var CALLBACK_PAGE = 'http://{{HOST}}/login';
	var REDIRECT_PAGE = 'http://{{HOST}}/';

	hello.init({'facebook2': '428426510668680',
							'facebook3': '431925330318798',
							'facebook': '179006185478422',
							'google': '873276900396-ji0fg53so0ef21fekmf89sgqthii4fqe.apps.googleusercontent.com',
							'twitter': '5HkInUY29QwZpGiakpkmliMuV',
							'linkedin': '771v6fab8f1cvg',
							'windows': '000000004414E1C0',
							'instagram': '1ac7d9c698e44cb29f644cde32e5fd33'
	 },
	 {redirect_uri: CALLBACK_PAGE}
);

	{% if LOGOUT %}
	hello.logout('{{LOGOUT}}');
	{% endif %}


// When the user clicks the icons (<div> with @data-login) for Google, Facebook, etc., it triggers authentication.
$('div[data-login]').click(function() {
	var idp = $(this).attr('data-login');  // We get the network name from the attribute.
	hello().login(idp).then(function() {
		hello(idp).api('/me').then(function(r) {
			console.log(r);
			user = {'idp': idp, 'userid': idp + ':' + r['id'], 'first_name': r.first_name, 'last_name': r.last_name, 'picture': r.thumbnail};
			$.ajax({'type': 'POST', 'url': '/login', 'data': {'social-login': JSON.stringify(user)},
	  	'success': function() { window.location.href=REDIRECT_PAGE; } });
		});
	});
});

	</script>

{% endblock %}