{% extends '__base_new__.html' %}

{% block title %}{{ gettext('Network of Innovators') }}{% endblock %}

{% block content %}
    <div class="b-onboarding">
        <header>
            <div class="b-logo"></div>
        </header>

        <section class="e-tagline">
          {# <h1>{{ gettext('Network of Innovators') }}</h1> #}

          <p><strong>Find</strong> innovators.</p>
          <p><strong>Share</strong> your know-how.</p>
          <p><strong>Learn</strong> about innovation.</p>

          <p>Seeking new and effective ways to solve problems and make decisions?</p>

          <a class="b-button" href="{{ url_for_security('register') }}">Get Started</a>
        </section>

            <form method="POST" action="{{ url_for('views.change_locale') }}" class="e-onboarding-form" data-submit-on-change>
              {{ change_locale_form.hidden_tag() }}
              <div class="b-dropdown">
                {{ change_locale_form.locale.label(class="sr-only") }}
                {{ change_locale_form.locale() }}
              </div>

              <noscript>
                <input class="b-button" type="submit" value="{{ gettext('Change Language') }}">
              </noscript>

            </form>

        <footer>
          <p class="e-signup">
            Already have an account? <a href="{{ url_for_security('login') }}">Log in</a>
          </p>
        </footer>
    </div>
{% endblock %}
