{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('My Profile') }}{% endblock %}

{% block page_style_post %}
<style>
/* TODO: These styles are temporary until we have style-guide HTML mocks
 * for this view. */

.temporary-form-input {
  padding: 1em 2em;
}

input, select {
  display: block;
  width: 100%;
}
</style>
{% endblock %}

{% block content %}
<form action="#" method="post" enctype="multipart/form-data">
{{ form.csrf_token }}
{% if form.has_picture.data %}
<input type="hidden" name="has_picture" value="true" />
{% endif %}

{% macro input(name) -%}
<div class="temporary-form-input">
  {{ form[name].label }}
  {{ form[name](placeholder=form[name].description) }}
  {% if form[name].errors %}
    <ul class="list-unstyled">
    {% for error in form[name].errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{%- endmacro %}

<!-- Form Name -->
<legend></legend>

{{ input("picture") }}
{{ input("first_name") }}
{{ input("last_name") }}
{{ input("position") }}
{{ input("organization") }}
{{ input("organization_type") }}
{{ input("city") }}
{{ input("country") }}
{{ input("expertise_domain_names") }}
{{ input("locales") }}
{{ input("projects") }}

<button class="b-button" type="submit">{{ gettext('Save') }}</button>

</form>

{% endblock %}

{% block page_script %}

<script>
    function ensureImageIsSquare(file, field) {
        var img = document.createElement('img');
        var url = window.URL.createObjectURL(file);
        var onError = function() {
            $(field).val('');
            alert({{ gettext('Sorry, your image must have square dimensions.'|tojson) }});
            window.URL.revokeObjectURL(url);
        };

        img.src = url;
        img.onload = function() {
            if (img.naturalWidth && img.naturalHeight &&
                img.naturalWidth !== img.naturalHeight) {
                onError();
            }
        }
        img.onerror = onError;
    }

    $('#picture').on('change', function (evt) {
        if (this.files) {
          if (this.files[0]) {
            if (this.files[0].size > 1000 * 1000) {
              $(this).val('');
              alert({{ gettext('Sorry, that file is too big.  Please choose a smaller one.')|tojson }});
            } else {
              ensureImageIsSquare(this.files[0], this);
            }
          }
        }
    })
</script>

{% endblock %}
