{% extends "__base_ui__.html" %}

{% from "_macros.html" import render_multi_select_instructions %}

{% block title %}{{ gettext('My Profile') }}{% endblock %}

{% block content %}
<h1 class="b-header">{{ gettext('My Profile') }}</h1>

<form class="b-form" action="#" method="post" enctype="multipart/form-data">
{{ form.csrf_token }}

{% macro input(name) -%}
{{ form[name].label }}
{% if form[name].type in ["SelectField", "CountryField"] %}
  <div class="e-dropdown">
  {{ form[name]() }}
  </div>
{% else %}
  {{ form[name](placeholder=form[name].description) }}
{% endif %}
{% if name == "picture" %}
<a data-remove-picture href="#" class="material-icons" style="float: right;{% if not current_user.has_picture %}display: none{% endif %}">clear</a>
{% endif %}
{% if form[name].errors %}
  <ul class="list-unstyled">
  {% for error in form[name].errors %}
  <li>{{ error }}</li>
  {% endfor %}
  </ul>
{% endif %}
{%- endmacro %}

{% if LINKEDIN_ENABLED and not current_user.linkedin %}
<p>
  <a class="b-button" href="{{ url_for('linkedin.authorize') }}">
    Connect to <img alt="LinkedIn" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width="16" style="vertical-align: bottom; margin-bottom: 4px;">
  </a>
</p>

<p>
  <small>
  Connecting your account to LinkedIn&trade; will allow you to pre-fill some of
  the form fields below. It will also allow others to see your LinkedIn&trade;
  profile.
  </small>
</p>
{% endif %}

{{ input("picture") }}
{{ input("first_name") }}
{{ input("last_name") }}
{% if 'username' in form %}{{ input("username") }}{% endif %}
{{ input("position") }}
{{ input("organization") }}
{{ input("organization_type") }}
{{ input("city") }}
{{ input("country") }}
{{ input("expertise_domain_names") }}
{{ render_multi_select_instructions() }}
{{ input("locales") }}
{{ render_multi_select_instructions() }}
{{ input("projects") }}

<button type="submit">{{ gettext('Save') }}</button>

</form>

{% if LINKEDIN_ENABLED and current_user.linkedin %}
<div class="b-temporary-styling">
  <small>
  Your account is currently connected to LinkedIn&trade;, which allows others to see your LinkedIn&trade; profile. You can <a style="text-decoration: underline" href="{{ url_for('linkedin.deauthorize') }}">disconnect from LinkedIn&trade;</a> at any time to disable this.
  </small>
</div>
{% endif %}

{% endblock %}

{% block page_script %}
<script src="{{ url_for('static', filename='vendor/load-image.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/canvas-to-blob.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/my-profile.js') }}"></script>
{% endblock %}
