{% extends "__base_ui__.html" %}

{% from "_macros.html" import render_multi_select_instructions %}

{% block title %}{{ gettext('My Profile') }}{% endblock %}

{% block page_style_post %}
<style>
/* TODO: These styles are temporary until we have style-guide HTML mocks
 * for this view. */

form {
  padding: 0 2em 1em 2em;
}

.temporary-form-input {
  padding-top: 1em;
}

input, select {
  display: block;
  width: 100%;
}
</style>
{% endblock %}

{% block content %}
<h1 class="b-header">{{ gettext('My Profile') }}</h1>

<form action="#" method="post" enctype="multipart/form-data">
{{ form.csrf_token }}

{% macro input(name) -%}
<div class="temporary-form-input">
  {{ form[name].label }}
  {{ form[name](placeholder=form[name].description) }}
  {% if form[name].errors %}
    <ul class="list-unstyled">
    {% for error in form[name].errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{%- endmacro %}

<!-- Form Name -->
<legend></legend>

{{ input("picture") }}
{{ input("first_name") }}
{{ input("last_name") }}
{{ input("position") }}
{{ input("organization") }}
{{ input("organization_type") }}
{{ input("city") }}
{{ input("country") }}
{{ input("expertise_domain_names") }}
{{ render_multi_select_instructions() }}
{{ input("locales") }}
{{ render_multi_select_instructions() }}
{{ input("projects") }}

<button class="b-button" type="submit">{{ gettext('Save') }}</button>

</form>

{% endblock %}

{% block page_script %}
<script src="{{ url_for('static', filename='vendor/load-image.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/canvas-to-blob.js') }}"></script>
<script>
var UPLOAD_PICTURE_URL = {{ url_for('views.my_profile_upload_picture')|tojson }};
var UPLOAD_PICTURE_SUCCESS = {{ gettext("Your user picture has been changed.")|tojson }};
var UPLOAD_PICTURE_ERROR = {{ gettext("An error occurred when uploading your user picture.")|tojson }};

function upload(canvas, cb) {
  canvas.toBlob(function(blob) {
    var fd = new FormData();

    fd.append('picture', blob, 'picture.jpg');

    $.ajax({
      url: UPLOAD_PICTURE_URL,
      type: 'POST',
      data: fd,
      processData: false,
      contentType: false,
      complete: cb,
      success: function(data, textStatus) {
        alert(UPLOAD_PICTURE_SUCCESS);
      },
      error: function() {
        alert(UPLOAD_PICTURE_ERROR);
      }
    });
  }, 'image/jpeg');
}

$('#picture').on('change', function (evt) {
  var self = this;
  if (this.files) {
    if (this.files[0]) {
      loadImage(this.files[0], function(canvas) {
        upload(canvas, function() {
          $(self).val('');
        });
      }, {
        maxWidth: 256,
        maxHeight: 256,
        crop: true,
        orientation: true,
        canvas: true
      });
    }
  }
});
</script>

{% endblock %}
