{% extends "__base_new__.html" %}

{% block title %}
  {{ gettext('My Expertise') }}
  {% if question %}
    - {{ question.questionnaire.name }} #{{ questionid }}
  {% endif %}
{% endblock %}

{% block page_style_pre %}
  {# This is a placeholder until we fix #115. #}
  <style>
    html, body {
      background: rgba(0, 0, 0, 0.6);
    }
  </style>
{% endblock %}

{% block content %}

{% if not question %}
{% if not next_url %}
<div class="b-onboarding m-signup-first-category">
    <section>
        <div class="e-confirmed material-icons">check</div>
        <p class="e-onboarding-message">{{ gettext("Pick an innovation area that you're interested in:") }}</p>
	<div class="e-category-menu">
            {% for questionnaire in QUESTIONNAIRES %}
                {% if questionnaire.questions %}
                    <a href="{{ url_for('views.register_step_3_area', areaid=questionnaire.id) }}" class="e-category">{{ gettext(questionnaire.name) }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <footer>
        <div class="e-signup-progress">
            <span></span>
            <span></span>
            <span class="m-current"></span>
        </div>
    </footer>
</div>
{% else %}

<div class="b-onboarding-questions">
    <div class="e-card m-intro">
      <p class="e-text">{{ gettext("Now answer %(num)s questions about your experience in this area to join the network and get matched with other innovators!", num=questions_left) }}</p>
      <p class="e-aux-text">{{ gettext("You can always answer more questions by going to your profile page to get new and more relevant matches.") }}</p>
      <a href="{{ next_url }}" class="b-button">{{ gettext('Next') }}</a>
    </div>
</div>

{% endif %}

{% else %}

<div class="b-onboarding-questions">
    <div class="e-card">
        <h3 class="e-card-category">{{ gettext(question.questionnaire.name) }} {{ questionid }}</h3>
	<p class="e-question">{{ gettext(question.question) }}</p>

	<form method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            {% for k, v in LEVELS|dictsort %}
	        <button type="submit" name="answer" value="{{ v.score }}" class="b-button {{ v.class }}">
                    {{ gettext(v.label) }}
                </button>
            {% endfor %}

{% if next_questionid %}
    <a href="{{ url_for('views.register_step_3_area_question', areaid=areaid, questionid=next_questionid) }}" class="b-button m-skip">{{ gettext('Skip this question') }}</a>
{% endif %}

<a href="{{ url_for('views.register_step_3') }}" class="b-button m-skip">{{ gettext('Choose another area') }}</a>

		<div>
		    <br>
		    {% if user_can_join %}
		        <p><a class="b-button" href="{{ url_for('views.activity') }}">{{ gettext('Join') }}</a></p>
		    {% else %}
			{{ gettext("You must answer at least %d more question(s) to join." % questions_left) }}
		    {% endif %}
		</div>

	</form>

    </div>
</div>

{% endif %}

{% endblock %}
