{% extends "__base_new__.html" %}

{% block title %}{{ gettext('Register - Basic Information') }}{% endblock %}

{% from "security/_macros_new.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="b-onboarding m-signup">
  <section>
    <div class="e-confirmed material-icons">check</div>
    <p class="e-onboarding-message">{{ gettext("Now please share some basic info about yourself, so others can know who you are.") }}</p>

    <form class="e-onboarding-form" method="post">
      {{ form.csrf_token }}

      {{ render_field_with_errors(form.position) }}
      {{ render_field_with_errors(form.organization) }}
      {{ render_field_with_errors(form.organization_type) }}
      {{ render_field_with_errors(form.city) }}
      {{ render_field_with_errors(form.country) }}

      <input class="b-button" type="submit" value="{{ gettext('Next') }}">

    </form>
  </section>

  <ul class="list-unstyled">
    <li><a href="/logout">{{ gettext('Logout') }}</a></li>
  </ul>

  <footer>
    <div class="e-signup-progress">
      <span></span>
      <span class="m-current"></span>
      <span></span>
    </div>
  </footer>
</div>
{% endblock %}
