{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('Find Innovators') }}{% endblock %}

{% block page_style_pre %}
  <style>
  /* TODO: This styling is temporary. */
  .b-filters .b-button {
    color: white;
  }

  label {
    color: white;
    display: block;
    padding-bottom: 1em;
  }
  </style>
{% endblock %}

{% from "_macros.html" import get_user_avatar_url, render_multi_select_instructions %}

{% block content %}
<section class="b-filters">
  <form action="{{ url_for('views.search') }}" method="GET">
    <label for="questionnaire_area">{{ gettext('By expertise area') }}</label>
    <div class="b-dropdown">
      {{ form.questionnaire_area() }}
    </div>
    <label for="country">{{ gettext('By country') }}</label>
    <div class="b-dropdown">
      {{ form.country() }}
    </div>
    <label for="locales">{{ gettext('By language(s)') }}</label>
    <div class="b-dropdown">
      {{ form.locales() }}
      {{ render_multi_select_instructions(style="color: lightgray") }}
    </div>
    <label for="expertise_domain_names">{{ gettext('By field(s) of work') }}</label>
    <div class="b-dropdown">
      {{ form.expertise_domain_names() }}
      {{ render_multi_select_instructions(style="color: lightgray") }}
    </div>
  <input class="b-button" type="submit" value="{{ gettext('Find Innovators') }}">
  </form>
</section>

{% if results %}
<section class="b-innovator-results">
  <div class="e-results-container">
    {% for user, score in results %}
    {% if user.display_in_search %}
      <!-- Score: {{ score }} -->
      <a class="e-result-item" href="{{ url_for('views.get_user', userid=user.id) }}">
        <img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture">
        <p class="e-name">{{ user.full_name }}</p>
        <p class="e-job">{{ user.position }}</p>
      </a>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}
