{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('Find Innovator') }}{% endblock %}

{% block page_style_pre %}
  <style>
  /* TODO: This styling is temporary. */
  .b-filters .b-button {
    color: white;
  }
  </style>
{% endblock %}

{% from "_macros.html" import get_user_avatar_url %}

{% block content %}
<section class="b-filters">
  <form action="{{ url_for('views.search') }}" method="GET">
    <div class="b-dropdown">
      <label class="sr-only" for="country">{{ gettext('By country') }}</label>
      {{ form.country(placeholder=gettext('Choose your country')) }}
    </div>
    <div class="b-dropdown">
      <label class="sr-only" for="locales">{{ gettext('By language(s)') }}</label>
      {{ form.locales(placeholder=gettext('Choose your languages')) }}
    </div>
    <div class="b-dropdown">
      <label class="sr-only" for="expertise_domain_names">{{ gettext('By domain(s)') }}</label>
      {{ form.expertise_domain_names(placeholder=gettext('Choose your fields of expertise')) }}
    </div>
  <input class="b-button" type="submit" value="{{ gettext('Find experts') }}">
  </form>
</section>

{% if results %}
<section class="b-innovator-results">
  <p class="e-intro-message">Reach better decisions faster, develop solutions that create value, increase transparency and enable action.</p>
  <div class="e-results-container">
    {% for user, score in results %}
    {% if user.display_in_search %}
      <a class="e-result-item" href="{{ url_for('views.get_user', userid=user.id) }}">
        <img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture">
        <p class="e-name">{{ user.full_name }}</p>
        <p class="e-job">{{ user.position }}</p>
      </a>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}
