{% extends "__base_ui__.html" %}

{% block title %}{{ gettext('Find Innovators') }}{% endblock %}

{% block page_style_pre %}
  <style>
  /* TODO: This styling is temporary. */
  .b-filters .b-button {
    margin-top: 1em;
    color: white;
  }

  label {
    color: white;
    display: block;
    padding-bottom: 1em;
  }
  </style>
{% endblock %}

{% from "_macros.html" import get_user_avatar_url, render_multi_select_instructions, render_static_tab_bar, render_static_tab_panel %}

{% block content %}
<section class="b-filters">
  {{ base_tabbed_results_url }}
  <form action="{{ url_for('views.search') }}" method="GET">
    <label for="questionnaire_area">{{ gettext('By expertise area') }}</label>
    <div class="b-dropdown">
      {{ form.questionnaire_area() }}
    </div>
    <label for="country">{{ gettext('By country') }}</label>
    <div class="b-dropdown">
      {{ form.country() }}
    </div>
    <label for="locale">{{ gettext('By language') }}</label>
    <div class="b-dropdown">
      {{ form.locale() }}
    </div>
    <label for="expertise_domain_name">{{ gettext('By field of work') }}</label>
    <div class="b-dropdown">
      {{ form.expertise_domain_name() }}
    </div>
    <label for="conference">{{ gettext('By event') }}</label>
    <div class="b-dropdown">
      {{ form.conference() }}
    </div>
    <label for="fulltext">{{ gettext('By Keyword') }}</label>
    {{ form.fulltext(class="b-textfield", placeholder=gettext("Enter organization, name, or keywords here")) }}
  {# <input class="b-button m-search" type="submit" value="{{ gettext('Find Innovators') }}"> #}
  <button class="b-button m-search" type="submit"><i class="material-icons">search</i> {{ gettext('Find Innovators') }}</button>
  </form>
</section>

{% if results %}
<div id="results">
{% if result_tabs %}
  {{ render_static_tab_bar(result_tabs, active_result_tab) }}
{% endif %}
<section class="b-innovator-results">

{% macro show_results() %}
  <div class="e-results-container">
    {% for user, score in results %}
    {% if user.display_in_search %}
      <!-- Score: {{ score }} -->
      <a class="e-result-item" href="{{ url_for('views.get_user', userid=user.id) }}">
        <img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture">
        <p class="e-name">{{ user.full_name }}</p>
        <p class="e-job">{{ user.position }}</p>
        <p class="e-institution">{{ user.organization }}</p>
      </a>
    {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% if result_tabs %}
  {% call render_static_tab_panel() %}
    {{ show_results() }}
  {% endcall %}
{% else %}
  {{ show_results() }}
{% endif %}

</section>
</div>
{% endif %}

{% endblock %}
