{% extends "__base_ui__.html" %}

{% block content %}

<h1>{{ gettext('Settings') }}</h1>

<p>
<a href="{{ url_for_security('change_password') }}" class="b-button">{{ gettext('Change Password') }}</a>
</p>

            <form method="POST" action="{{ url_for('views.change_locale') }}" class="e-onboarding-form" data-submit-on-change>
              {{ change_locale_form.hidden_tag() }}
              <div class="b-dropdown">
                {{ change_locale_form.locale.label(class="sr-only") }}
                {{ change_locale_form.locale() }}
              </div>

              <noscript>
                <input class="b-button" type="submit" value="{{ gettext('Change Language') }}">
              </noscript>

            </form>

{% endblock %}
