{% extends "__base_ui__.html" %}

{% block title %}{{ gettext("%(user)s's Profile", user=user.full_name) }}{% endblock %}

{% from "_macros.html" import get_user_avatar_url, render_tab_bar, render_tab_panel, render_user_mailto_link %}

{% set is_current_user_profile = (user.id == current_user.id) %}

{% set tabs = [
  ('overview', gettext('Overview')),
  ('expertise', gettext('Expertise')),
] %}

{% set active_tab = active_tab|default(tabs[0][0]) %}

{% block body_class -%}
{%- if not is_current_user_profile -%}
b-public-profile
{%- endif -%}
{%- endblock %}

{% block content %}

<section class="b-profile-header">
    <div class="e-bg" style="background-image: url('{{ get_user_avatar_url(user) }}')"></div>
    <div class="e-left">
        {% if is_current_user_profile %}
        <a href="{{ url_for('views.my_profile') }}"><img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture"></a>
        <a href="{{ url_for('views.my_profile') }}" class="e-edit material-icons">edit</a>
        {% else %}
        <img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture">
        {% call render_user_mailto_link(user) %}<span class="e-send material-icons">send</span>{% endcall %}
        {% endif %}

        {% if user.linkedin and user.linkedin.profile_url %}
        <a href="{{ user.linkedin.profile_url }}" target="_blank" class="e-edit"><img src="{{ url_for('static', filename='img/LinkedIn_logo_initials.png') }}" alt="LinkedIn" width="24"></a>
        {% endif %}

        <div>
          {% for conference in user.conference_objects|sort(attribute='start_date') %}
            {% if loop.index <= 3 %}
              <a href="{{ conference.url }}" target="_blank" title="{{ conference.name }}"><img src="{{ conference.logo_url }}" alt="{{ conference.name }}" class="conference-logo"></a>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="e-right">
        <h2 class="e-name">{{ user.full_name }}</h2>
        <h3 class="e-job">{{ user.position }}</h3>

        <ul class="e-info">
           {% if user.organization %}
             <li><span class="material-icons">business</span>{{ user.organization }}</li>
           {% endif %}

           {% if user.expertise_domain_names %}
             {% for domain in user.expertise_domain_names %}
               <li><span class="material-icons">school</span>{{ domain }}</li>
             {% endfor %}
           {% endif %}

           {% if user.full_location %}
           <li><span class="material-icons">location_on</span>{{ user.full_location }}</li>
           {% endif %}

           {% if user.locales %}
             {% for locale in user.locales %}
               <li>{{ locale.get_display_name(locale=get_locale()) }}</li>
             {% endfor %}
           {% endif %}
        </ul>
    </div>
</section>

{{ render_tab_bar(tabs, active_tab) }}

{% call render_tab_panel('overview', active_tab) %}

<div class="b-temporary-styling">
{% for skill_level, questionnaires in overview_data.items() %}
  {% if is_current_user_profile %}
    {% if skill_level == LEVELS['LEVEL_I_CAN_EXPLAIN'].score %}
      <p>{{ gettext("You are an <strong>explainer</strong> of:") }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_CAN_DO_IT'].score %}
      <p>{{ gettext("You are a <strong>practitioner</strong> of:") }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_CAN_REFER'].score %}
      <p>{{ gettext("You are a <strong>connector</strong> of:") }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_WANT_TO_LEARN'].score %}
      <p>{{ gettext("You are a <strong>peer</strong> of:") }}</p>
    {% endif %}
  {% else %}
    {% if skill_level == LEVELS['LEVEL_I_CAN_EXPLAIN'].score %}
      <p>{{ gettext("Ask %(user)s to <strong>explain</strong>:", user=user.full_name) }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_CAN_DO_IT'].score %}
      <p>{{ gettext("Ask %(user)s to <strong>share experiences</strong> in:", user=user.full_name) }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_CAN_REFER'].score %}
      <p>{{ gettext("Ask %(user)s to <strong>connect you</strong> in:", user=user.full_name) }}</p>
    {% elif skill_level == LEVELS['LEVEL_I_WANT_TO_LEARN'].score %}
      <p>{{ gettext("Ask %(user)s to <strong>learn with you</strong> in:", user=user.full_name) }}</p>
    {% endif %}
  {% endif %}
  <ul>
    {% for questionnaire in questionnaires %}
      <li>{{ gettext(questionnaire.name) }}</li>
    {% endfor %}
  </ul>
{% endfor %}
</div>

  <div class="b-network-viz">
    {# TODO: This is very similar to the treemap code in network.html,
       consider refactoring. #}
    {% for area_info in viz_data %}
        <div class="e-questionnaire-area">
          {% if is_current_user_profile %}
          <a href="{{ url_for('views.my_expertise_area', areaid=area_info.questionnaire_id, _anchor='expertise') }}">
          {% else %}
          <a href="{{ url_for('views.get_user_expertise_area', userid=user.id, areaid=area_info.questionnaire_id, _anchor='expertise') }}">
          {% endif %}
          <div class="e-skill-level m-do" style="width: 100%"></div>
          <div class="e-skill-level m-connect" style="width: {{ area_info.learn + area_info.explain + area_info.connect }}%"></div>
          <div class="e-skill-level m-explain" style="width: {{ area_info.learn + area_info.explain }}%"></div>
          <div class="e-skill-level m-learn" style="width: {{ area_info.learn }}%"></div>
          <div class="e-screen"></div>
          <h2>{{ gettext(area_info.name) }}</h2>
          <p>{{ gettext('%(count)d questions answered', count=area_info.total) }}</p>
          </a>
        </div>
    {% endfor %}
  </div>

<div class="b-temporary-styling">
  <h3>{{ gettext('Projects I have done') }}</h3>
  {% if user.projects %}
  <div class="e-user-projects">{{ user.projects }}</div>
  {% else %}
  {{ gettext("No project information provided.") }}
  {% endif %}
</div>
  {% endcall %}

{% if is_current_user_profile %}

{% if in_questionnaire %}
  {% call render_tab_panel('expertise', active_tab) %}
  {% include "_profile-questionnaire.html" %}
  {% endcall %}
{% else %}
  {% call render_tab_panel('expertise', active_tab, class='b-profile-progress') %}
  {% include "_profile-progress.html" %}
  {% endcall %}
{% endif %}

{% else %}

{% if areaid %}
  {% call render_tab_panel('expertise', active_tab, class="b-expertise") %}
  {% include "_profile-expertise-match-area.html" %}
  {% endcall %}
{% else %}
  {% call render_tab_panel('expertise', active_tab, class="b-match-me") %}
  {% include "_profile-expertise-match.html" %}
  {% endcall %}
{% endif %}

{% endif %}

{% endblock %}

{% block page_script %}
{% if in_questionnaire %}
<script src="{{ url_for('static', filename='js/pages/user-profile/questionnaire.js') }}"></script>
{% endif %}
{% endblock %}
