{% extends "__base_ui__.html" %}

{% block title %}{{ gettext("%(user)s's Profile", user=user.full_name) }}{% endblock %}

{% from "_macros.html" import get_user_avatar_url, render_tab_bar, render_tab_panel %}

{% set is_current_user_profile = (user.id == current_user.id) %}

{% set tabs = [
  ('overview', gettext('Overview')),
  ('expertise', gettext('Expertise')),
] %}

{% set active_tab = active_tab|default(tabs[0][0]) %}

{% block content %}

<section class="b-profile-header">
    <div class="e-bg" style="background-image: url('{{ get_user_avatar_url(user) }}')"></div> 
    <div class="e-left">
        <img src="{{ get_user_avatar_url(user) }}" alt="" class="e-picture">
        <span class="e-edit material-icons">edit</span>
    </div>
    <div class="e-right">
        <h2 class="e-name">{{ user.full_name }}</h2>
        <h3 class="e-job">{{ user.position }}</h3>

        <ul class="e-info">
           {% if user.organization %}
             <li><span class="material-icons">business</span>{{ user.organization }}</li> 
           {% endif %}

           {% if user.expertise_domain_names %}
             {% for domain in user.expertise_domain_names %}
               <li><span class="material-icons">school</span>{{ domain }}</li>
             {% endfor %}
           {% endif %}

           {% if user.full_location %}
           <li><span class="material-icons">location_on</span>{{ user.full_location }}</li> 
           {% endif %}

           {% if user.locales %}
             {% for locale in user.locales %}
               <li>{{ locale.get_display_name(locale=get_locale()) }}</li>
             {% endfor %}
           {% endif %}
        </ul>
    </div>
</section>

{{ render_tab_bar(tabs, active_tab) }}

<div> <!-- Start of tab panel container -->

{% call render_tab_panel('overview', active_tab) %}

<h3>{{ gettext('Projects I have done') }}</h3>
{% if user.projects %}
<pre>{{ user.projects }}</pre>
{% else %}
{{ gettext("No project information provided.") }}
{% endif %}

{% if is_current_user_profile %}
<p>
  <a href="{{ url_for('views.my_profile') }}" class="b-button">Edit</a>
  <a class="b-button" href="mailto:{{ user.email }}?subject=Contact+request+via+Network+Of+Innovators&body=Dear+{{user.first_name}}" data-connect-to="{{ user.email }}">E-Mail</a>
</p>
{% endif %}

{% endcall %}

{% if is_current_user_profile %}

{% if question %}
  {% call render_tab_panel('expertise', active_tab) %}
  {% include "_profile-questionnaire.html" %}
  {% endcall %}
{% else %}
  {% call render_tab_panel('expertise', active_tab, class='b-profile-progress') %}
  {% include "_profile-progress.html" %}
  {% endcall %}
{% endif %}

{% else %}

{% call render_tab_panel('expertise', active_tab) %}

<ul>
{% for skill in user.skills %}
{% with %}
{% set skill_question = QUESTIONS_BY_ID[skill.name] %}
<li>
{{ skill_question.questionnaire.name }}:
<strong>{{ LEVELS_BY_SCORE[skill.level].label }}</strong>
<span>{{ skill_question.question }}</span>
</li>
{% endwith %}
{% endfor %}
</ul>

{% endcall %}

{% endif %}

</div> <!-- End of tab panel container -->

{% endblock %}
